/* Light mode */
[data-theme="light"] {
    --body-bg: white !important;
    --body-color: #000000;
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --link-hover-color: #e96f1d;
    --card-bg: white;

    --border-color: rgb(0,0,0);
    --table-even: rgb(187, 186, 186);
    --input-bg: #f7f7f7;
    --button-bg: #efefef;
}
 
 /* Dark mode */
[data-theme="dark"] {
    --body-bg: #2E2F2B !important;
    --body-color: white;
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --link-hover-color: #e96f1d;
    --card-bg: #484848;

    --border-color: rgb(0,0,0);
    --table-even: rgb(187, 186, 186);
    --input-bg: #f7f7f7;
    --button-bg: #efefef;
}

* {
    font-family: var(--bs-font-sans-serif) !important;
}
body {
    background-color: var(--body-bg);
    color: var(--body-color);
    box-sizing: border-box;
}

/************ NAVBAR **************/
ul.horizontal {
    list-style-type: none;
    margin: auto 1rem;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-size: 16px;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: transparent;
    color: var(--link-hover-color);
}

ul.horizontal li a.active {
    background-color:transparent;
}

/*************** CARD ************************/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
    height: 90vh;
}

.card .card-header {
    padding: 1.5rem;
    font-weight: 700;
    font-size: 18px;
}

.card-header:first-child {
    border-radius: 0.75rem 0.75rem 0 0;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);
    margin-bottom: 2rem
}

.img-circle { border-radius: 50%; }

.team-icon-db {
    height: 10rem;
}

.team-list-db {
    margin-left: 2rem;
}

.team-list-db:first-child {
    margin-left: 0px;
}